
services:
  whatsapp-bot:
    build: .
    container_name: whatsapp-wedding-bot
    restart: unless-stopped
    ports:
      - "5000:5000"
    env_file:
      - .env
    environment:
      - NODE_ENV=production
    volumes:
      - ./downloads:/usr/src/app/downloads
    networks:
      - whatsapp-network

networks:
  whatsapp-network:
    driver: bridge
